---
import CardLocalidades from "../components/card/CardLocalities.astro";
import Pagination from "../components/Pagination.astro";
import Layout from "../layouts/Layout.astro";
import { categoriesFilePath } from "../libs/constants";
import { getAllItems } from "../libs/csv";
import { type CategoryType } from "../types/CategoryType";

const categories = getAllItems<CategoryType>(categoriesFilePath);
---

<Layout
  title="Localidades"
  description="Página de localidades del Restaurante Afrodita"
>
  <main class="container mx-auto px-4 py-10">
    <section class="bg-white shadow-md rounded-lg p-8">
      <h1 class="text-3xl font-bold text-gray-800 mb-6">Localidades</h1>
      <p class="text-gray-600 mb-8">
        Explora los restaurantes destacados por localidad. Selecciona una
        categoría para descubrir sus mejores opciones gastronómicas.
      </p>

      <!-- Grid de categorías -->
      <div
        class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6"
      >
        <!-- Posts -->
        {
          categories.map((category) => (
            <CardLocalidades category={category} />
          ))
        }
      </div>
    </section>
    <Pagination />
  </main>
</Layout>
