---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { getSiteInfo } from "../libs/csv";
import "../styles/global.css";

type Props = {
  title: string;
  description: string;
  image?: string;
  slug?: string;
};

const { title, description = "", image = "", slug = "" } = Astro.props as Props;
const { baseUrl } = getSiteInfo();
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={baseUrl + "/" + slug} />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph (para redes sociales) -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {image && <meta property="og:image" content={baseUrl + "/" + image} />}
    <meta property="og:url" content={baseUrl + "/" + slug} />
    <meta property="og:type" content="website" />
    <ViewTransitions />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />

    <!-- JavaScript para togglear el menú -->
    <script src="./scripts/toggleMenu.js" defer></script>
  </head>

  <body class="bg-gray-100">
    <!-- Header -->
    <Header />

    <!-- Main -->
    <slot />

    <!-- Footer -->
    <Footer />
  </body>
</html>
